{% extends 'app/base.html' %}
{% load static %}

{% block title %} Joylashuv Manzilimiz {% endblock title %}

{% block content %}

{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'dist/location.css' %}">
<div>
    {% if map_location %}
    <iframe src="{{ map_location.location }}"
            width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    {% else %}
    <p>Xozircha Mavjud emas</p>
    {% endif %}
</div>

{% endblock content %}
