{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>ElektronPochtga-Tasdiqlash-Uchun-Link-Yuborildi</title>
</head>
<link rel="stylesheet" href="{% static 'dist/css/password_reset_done.css' %}">
<body>
<div class="message">
    <div class="message-header">
        <h2>Parolni o'zgartirish uchun emailingizga link yuborildi</h2>
    </div>
    <div class="message-body">
        <h4>Agar siz emailni qabul qilmagan bo'lsangiz qayta urunib ko'ring!</h4>
    </div>
</div>
</body>
</html>