{% extends 'app/base.html' %}
{% load static %}

{% block title %} Parolni o'zgartirish {% endblock title %}

{% block content %}

<style>
    .container {
      width: 500px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
      display: flex;
      flex-direction: column;
    }

    .input-group {
      margin-bottom: 15px;
    }

    .input-group label {
      font-weight: bold;
    }

    .input-group input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      background-color: #ff5722;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
    }

    button:hover {
      background-color: #0056b3;
    }
</style>
<body>

<h2>Parolni Tiklash</h2>

<div class="container">
    {% if form.errors %}
    <h2 style="color: red;">Xatolik</h2>
    {% endif %}
    <form method="POST">{% csrf_token %}
        <div class="input-group">
            <label for="old_password">Eski Parol</label>
            <input type="password" id="old_password" name="old_password" required>
        </div>
        <div class="input-group">
            <label for="new_password1">Yangi Parol</label>
            <input type="password" id="new_password1" name="new_password1" required>
        </div>
        <div class="input-group">
            <label for="new_password2">Yangi Parolni Tasdiqlang</label>
            <input type="password" id="new_password2" name="new_password2" required>
        </div>
        <button type="submit">Parolni o'zgartirish</button>
    </form>
</div>
</body>

{% endblock content %}