{% extends 'app/base.html' %}
{% load static %}

{% block title %} Muaffaqiyatli {% endblock title %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1> Parol muvaffaqiyatli o'zgardi <i class="fa fa-check-circle" style="font-size:48px;color:green"></i></h1>
<br>

<h1>{{ request.user.username}}, Sizning parol o'zgardi</h1>
<br>

<a class="btn btn-info" style=" background-color: #ff5722 ;"
   href="{% url 'home_list' %}">Bosh Sahifaga Qaytish</a>

{% endblock content %}