{% extends 'app/base.html' %}
{% load static %}

{% block title %} Parolni tiklash {% endblock title %}

{% block content %}


<body>
<link rel="stylesheet" href="{% static 'dist/css/password_reset_form.css' %}">
<div class="container">
    <form method="post" class="password-reset-form">{% csrf_token %}
        <h4>Parolni tiklash uchun formani to'ldiring</h4>
        {{ form.as_p }}
        <button style="background-color: #ff5722 ;" class="btn btn-info" type="submit">Parolni tiklash</button>
    </form>
</div>
</body>


{% endblock %}