{% load static %}

<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Parol-o'zgardi</title>
</head>
<link rel="stylesheet" href="{% static 'dist/css/password_reset_complete.css' %}">

<body>
<div class="message">
    <div class="message-header">
        <h2>Parol muaffaqiyatli tiklandi!</h2>
    </div>
    <div class="message-body">
        <h4>Sizning parolingiz qayta tiklandi. Endi qaytadan<a href="{% url 'login' %}">
            <i>Tizimga </i></a> Kiring!</h4>
    </div>
</div>
</body>
</html>